body {
	margin: 1.2em auto;
	max-width: 50em;
	font-size: 1em;
	padding: 0 1.5em;
	background: #111;
  	color: #bbb;
}
h1, h2, h3, h4, h5, h6, strong {
	line-height: 1.2;
}
a:link {
    color: #9bf;
}
